html {scroll-behavior: smooth;}

body {background: white; color: #191919;
    * {box-sizing: border-box; transition: 300ms; cursor: url("../img/mouse.png") 2 2, auto;
        &:active {cursor: url("../img/mouse.png") 2 2, auto;}
        &::selection {background-color: #191919; color: #fff;}
    }
    button {background: #fff; color: #191919; border: 4px solid #191919; transition: 300ms;
        &:hover {background: #191919; color: #fff;}
        img {width: 100%;}
    }
}

body.dark {background: #191919; color: #fff;
    button {background: #191919; color: #fff;
        &:hover {background: #fff; color: #191919;}
    }
}

.inner {width: 1200px; margin: 0 auto;}

@media (max-width: 1230px) {
    .inner {width: 100%;}

    main .inner {padding: 0 15px;}
}

.grid {display: grid; justify-content: center; align-items: center; justify-items: center; align-content: center; width: 100%; height: 100%;}

body {position: relative;}
.header {position: fixed; top: 0; left: 0; padding: 20px 15px; width: 100%; z-index: 5; transition: 300ms; background: #fff;
    &.fixed {box-shadow: 0 0 10px rgba(0,0,0,0.5); padding: 15px;}

    .nav {width: 100%;
        .nav_ul {white-space: nowrap;}
        .nav_li {font-size: 20px; font-weight: bold; display: inline-block; padding: 10px 20px; cursor: url("../img/mouse.png") 2 2, auto;}
    }
}
@media (max-width: 768px) {
    .header {text-align: center; padding: 10px;
        &.fixed {padding: 5px 10px;}

        .nav {
            .nav_li {font-size: 16px; padding: 10px;}
        }
    }
}
@media (max-width: 520px) {
    .header {text-align: center; padding: 5px;
        &.fixed {padding: 3px;}

        .nav {
            .nav_li {font-size: 12px; padding: 10px 5px;}
        }
    }
}

#home {width: 100%; height: 100vh; overflow: hidden; position: relative;
    .bg {width: 100%; height: 100%;  position: absolute; background-image: url("../img/backbg.png"); background-repeat: no-repeat; background-position: center center; background-size: 90%;}
}

.home {
    .inner {display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;
        .h_text {width: 100%; text-align: center; margin: 90px 0; letter-spacing: -1px; font-size: 90px;
            .h_line1 {margin-bottom: 10px; overflow: hidden; line-height: 0.9; font-size: 1.1em;
                .name {display: inline-block; vertical-align: middle;
                    &:first-child {margin-right: 30px;}
                    .word {font-weight: bold; opacity: 0; letter-spacing: -10px;}
    
                    .word_1 {animation: show_ani 500ms 100ms forwards;}
                    .word_2 {animation: show_ani 500ms 200ms forwards;}
                    .word_3 {animation: show_ani 500ms 300ms forwards;}
                    .word_4 {animation: show_ani 500ms 400ms forwards;}
                    .word_5 {animation: show_ani 500ms 500ms forwards;}
                    .word_6 {animation: show_ani 500ms 600ms forwards;}
        
                    .word_7 {animation: show_ani 500ms 800ms forwards;}
                    .word_8 {animation: show_ani 500ms 900ms forwards;}
                    .word_9 {animation: show_ani 500ms 1000ms forwards;}
                    .word_10 {animation: show_ani 500ms 1100ms forwards;}
                }
            }
            .h_line2, .h_line3 {font-size: 1em; overflow: hidden; opacity: 0;}
    
            .h_line2 {animation: show_ani 600ms 1500ms forwards;}
            .h_line3 {animation: show_ani 600ms 2000ms forwards;}
        }
    
        .btn_area {text-align: center; margin-bottom: 35px; width: 100%;
            .view_btn {width: 90%; max-width: 400px; height: 90px; font-size: 36px; font-weight: bold; border-radius: 50px; opacity: 0; animation: show_ani 1000ms 2700ms forwards;}
        }
    
        .ani_area {
            img {display: none; width: 40px; opacity: 0; animation: arrow_ani 1000ms 4500ms infinite forwards;}
            img.on {display: block;}
        }
    }
}

@keyframes show_ani {
    0% {opacity: 0; transform: translateY(20px);}
    100% {opacity: 1; transform: translateY(0px)}
}
@keyframes arrow_ani {
    0% {transform: translateY(0px); opacity: 1;}
    100% {transform: translateY(20px);}
}



#intro {padding: 250px 0 0;}

.container {
    .intro_wrap {background: #E2E2E2; padding: 30px 60px; margin-bottom: 100px;
        .i_inner {width: 1200px; margin: 0 auto;
            .flexbox {display: flex; align-items: center; width: 100%;
                .profile_img {width: 400px; height: 400px; position: relative; top: -100px;
                    img {width: 100%; height: 100%; object-fit: cover; opacity: 0;}
                }
                .profile_txt {width: calc(100% - 400px); padding-left: 40px; font-size: 18px; line-height: 30px; opacity: 0;
                    .bold {font-weight: bold; word-break: keep-all;}
                }
            }
        }
    }
    .career_wrap {display: flex; align-items: top; gap: 20px;
        .c_box {width: calc((100% - 20px) / 2); border: 2px solid #191919; border-radius: 30px; overflow: hidden;
            .h3 {color: #fff; background: #191919; padding: 20px 0; font-size: 32px; text-align: center;}
            .contents {padding: 10px 35px 25px;
                .block {padding: 20px 0; line-height: 30px; opacity: 0; border-bottom: 1px solid #ddd;
                    &:last-child {border-bottom: 0;}
                    .date {font-size: 20px; font-weight: 500; margin-bottom: 5px;}
                    .h4 {font-size: 24px; font-weight: bold;}
                }
            }
        }
    }
}

@media (max-width: 1280px) {
    .container {
        .intro_wrap {
            .i_inner {width: 100%;}
        }
    }
}


@media (max-width: 1200px) {
    .home {
        .inner {
            .h_text {font-size: 70px;}

            .btn_area {
                .view_btn {font-size: 30px; height: 85px;}
            }
        }
    }
}

@media (max-width: 960px) {
    .container {
        .intro_wrap {padding: 20px 30px;
            .i_inner {
                .flexbox {
                    .profile_img {width: 300px; height: 400px;}
                    .profile_txt {width: calc(100% - 300px); font-size: 16px; padding-left: 25px;}
                }
            }
        }

        .career_wrap {
            .c_box {
                .contents {padding: 10px 20px 30px;
                    .block {
                        .date {font-size: 18px;}
                        .h4 {font-size: 22px;}
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .home {
        .inner {
            .h_text {font-size: 50px;
                .h_line1 {font-size: 0.8em;
                    .name {
                        &:first-child {margin-right: 0;}
                        .word {letter-spacing: 0;}
                    }
                }
            }

            .btn_area {
                .view_btn {font-size: 25px; height: 75px; max-width: 300px;}
            }
        }
    }

    .container {
        .intro_wrap {padding: 0 15px 40px; margin-bottom: 50px;
            .i_inner {
                .flexbox {flex-direction: column;
                    .profile_img {width: 400px; height: 400px;}
                    .profile_txt {padding: 0; margin-top: -50px; width: 90%; max-width: 480px;}
                }
            }
        }

        .career_wrap {flex-direction: column;
            .c_box {width: 100%;
                .contents {
                    .block {text-align: center;
                        .date {font-size: 18px;}
                        .h4 {font-size: 22px;}
                    }
                }
            }
        }
    }
}

@media (max-width: 430px) {
    .container {
        .intro_wrap {
            .i_inner {
                .flexbox {
                    .profile_img {width: 90vw; height: 90vw;}
                    .profile_txt {font-size: 14px; line-height: 23px;}
                }
            }
        }

        .career_wrap {
            .c_box {
                .h3 {font-size: 22px; padding: 15px 0;}
                .contents {padding: 5px 15px 20px;
                    .block {padding: 10px 0;
                        .date {font-size: 14px; margin-bottom: 0;}
                        .h4 {font-size: 16px;}
                    }
                }
            }
        }
    }
}



#skills {padding: 150px 0;}

.container {
    .sub_title {font-size: 32px; margin-bottom: 20px; text-align: center;}
    .s_flex {display: flex; gap: 20px; align-items: start;
        .s_box {width: calc((100% - 20px) / 2); padding: 50px 20px; background: no-repeat center center / cover; color: #fff; overflow: hidden; position: relative;
            &.box1 {background-image: url("../img/design.jpg");}
            &.box2 {background-image: url("../img/code.jpg");}
            .black_bg {background: rgba(0,0,0,0.85); position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 2;}
            .border {position: relative; z-index: 3; padding-bottom: 100px;
                .h3 {font-size: 40px; margin-bottom: 50px;}
                .subtxt {font-size: 16px;}

                .icon_wrap {position: absolute; bottom: 20px; right: 0;
                    .icon {width: 50px; height: 50px; margin-right: 15px; display: inline-block; vertical-align: middle; position: relative; top: 150px;
                        &:last-child {margin-right: 0;}
                        img {width: 100%; height: 100%;}
                    }
                }
            }
            .bar {width: 0%; height: 1px; display: block; background: #ddd; position: relative; z-index: 3;}
        }
    }
}

@media (max-width: 960px) {
    .container {
        .s_flex {
            .s_box {
                .border {
                    .icon_wrap {
                        .icon {width: 40px; height: 40px;}
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    #skills {padding: 80px 0;}

    .container {
        .s_flex {flex-direction: column;
            .s_box {width: 100%;
                .border {
                    .h3 {font-size: 30px;}
                    .icon_wrap {
                        .icon {width: 50px; height: 50px;}
                    }
                    .subtxt {font-size: 14px;}
                }
            }
        }
    }
}

@media (max-width: 430px) {
    // #skills {padding: 100px 0;}
}


#portfolio {padding: 100px 0 0;}

.container {
    .p_img_area {width: 100%; overflow: hidden; margin: 30px 0; padding: 0 15px; display: none;
        &.on {display: block;}
        .word_img {width: 100%; transform: translateY(230px);}
    }
    .tab_ul {width: 100%; text-align: center; font-size: 0; margin-bottom: 60px;
        .tab_li {font-size: 20px; font-weight: bold; display: inline-block; vertical-align: middle; padding: 15px 30px; position: relative; cursor: url("../img/mouse.png") 2 2, auto;
            &:first-child {margin-right: 30px;}
            .bar {position: absolute; bottom: 0; left: 0; width: 0%; height: 3px; background: #191919; display: none; transition: 300ms;}
        }
    }
    .slide_area {width: 100%; position: relative; min-height: 770px;
        .tab {position: absolute; top: 0; left: 0; width: 100%;
            .slide {position: relative; overflow: hidden; padding: 20px 0;
                .s_li {width: calc((100vw - 40px) / 2);
                    .box {display: block; border-radius: 20px; transition: 300ms; padding: 60px; background: #ebebeb; width: 100%;
                        &:hover {transform: translateY(-20px);}
                       .top {margin-bottom: 16px; font-size: 14px;
                            .cate {font-size: 1em; margin-bottom: 20px; font-weight: 500;}
                            .title {font-size: 2.2em; margin-bottom: 20px;}
                            .intro {font-size: 1em; margin-bottom: 20px;}
                        }
                        .contents {margin-bottom: 25px;
                            .img_area {width: 100%; background-position: top left; background-repeat: no-repeat; background-size: cover; height: 250px; margin-bottom: 30px;}
                            .text_area {
                                .text_box {width: 100%; font-size: 14px; display: flex; margin-bottom: 14px;
                                    &:last-child {margin-bottom: 0;}
                                    .sub_t {font-size: 1em; font-weight: 500; width: 40%;}
                                    .sub_b {font-size: 1em; font-weight: 500; width: 60%;}
                                }
                            }
                        }
                        .btn_area {width: 100%;
                            .more_btn {width: 100%; height: 60px; border-radius: 50px; font-size: 2em; font-weight: bold; border-width: 2px;}
                        }
                    }
                }

                .swiper-pagination {text-align: center; left: 50%; transform: translateX(-50%);}
            }
        }
    }
}

@keyframes port_ani {
    0% {transform: translateY(200px);}
    100% {transform: translateY(0px);}
}


@media (max-width: 600px) {
    #portfolio {padding: 50px 0 0;}

    .container {
        .tab_ul {margin-bottom: 30px;
            .tab_li {font-size: 16px; padding: 10px;
                &:first-child {margin-right: 10px;}
            }
        }
        .slide_area {min-height: 700px;
            .tab {
                .slide {
                    .s_li {
                        .box {padding: 60px 40px;
                            &:hover {transform: none;}
                           .top {font-size: 12px;
                                .cate {margin-bottom: 10px;}
                                .title {margin-bottom: 10px;}
                            }
                            .btn_area {
                                .more_btn {font-size: 1.5em; height: 52px;}
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 430px) {
    .container {
        .tab_ul {
            .tab_li {font-size: 14px;
                .bar {height: 2px;}
            }
        }
        .slide_area {min-height: 580px;
            .tab {
                .slide {
                    .s_li {
                        .box {padding: 30px 20px;
                            .top {font-size: 12px;
                                .title {font-size: 1.7em;}
                            }
                            .contents {
                                .img_area {height: 200px;}
                                .text_area {
                                    .text_box {font-size: 12px;} 
                                }
                            }
                            .btn_area {
                                .more_btn {font-size: 1.2em; height: 40px;}
                            }
                        }
                    }
                }
            }
        }
    }
}




#contact {padding: 100px 0 150px;}

.container {
    .infinite {overflow: hidden; animation: moveleft 20000ms infinite linear;
        .inf_txt {white-space: nowrap; font-size: 24px; font-weight: bold;}
    }
    .contact_bar {margin: 50px auto 50px; width: 2px; height: 200px; background: #ddd; display: block;}

    .contact_wrap {
        .inner {display: flex; gap: 20px;
            .contact_box {width: calc((100% - 20px) / 2); background: #EAEAEA; padding: 20px; text-align: center; height: 300px;
                .icon_area {margin-bottom: 50px;
                    .icon {width: 80px;}
                }
                .text_area {
                    .underline {font-size: 22px; text-decoration: underline; font-weight: 600;}
                }
            }
        }
    }
}

@keyframes moveleft {
    0% {margin-left: -30px;}
    100% {margin-left: -1200px;}
}


@media (max-width: 768px) {
    .container {
        .contact_bar {height: 100px;}
        .contact_wrap {
            .inner {flex-direction: column;
                .contact_box {width: 100%; height: 200px;
                    .icon_area {margin-bottom: 30px;
                        .icon {width: 60px;}
                    }
                    .text_area {
                        .underline {font-size: 18px;}
                    }
                }
            }
        }
    }
}
@media (max-width: 430px) {
    .container {
        .infinite {
            .inf_txt {font-size: 18px;}
        }
        .contact_wrap {
            .contact_box {
                .text_area {
                    .underline {font-size: 14px;}
                }
            }
        }
    }
}


.footer {background: #555555; padding: 80px 15px;
    .copy {font-size: 14px; color: #aaa; font-weight: 600; margin-bottom: 10px;}
    .f_txt {font-size: 16px; color: #fff; font-weight: bold;}
}


/* 서브 */
.header {
    .fs0 {font-size: 0;}
    .sub_btn {width: 30px; display: inline-block; vertical-align: middle; border: none;
        &:hover {background: #fff;}
        img {width: 100%;}
    }
    .title {width: calc(100% - 60px); display: inline-block; vertical-align: middle; font-size: 30px; text-align: center;}
}

.main {padding: 104px 0;
    .sub_top {margin-bottom: 100px;
        .inner {display: flex;
            .img_area {width: 50%; height: 500px; overflow: hidden; background-position: top center; background-size: cover; background-repeat: no-repeat; border: 1px solid #191919;}
    
            .text_area {width: 50%; padding: 0 0 0 80px;
                .text_box {padding: 20px 0; border-bottom: 1px solid #ddd;
                    &:last-child {margin-bottom: 0; border-bottom: 0;}

                    .h2 {font-size: 18px; margin-bottom: 15px;}
                    .text {font-size: 16px; font-weight: 500;
                        .link_a {text-decoration: underline; display: inline-block;}
                    }
                }
            }
        }
    }

    .sub_bot {
        .text_block {
            .b_title {font-size: 22px; margin-bottom: 30px;}
            .b_text {font-size: 16px; line-height: 1.5;}
        }
        .contents_img {
            width: 100%;
            .b_title {font-size: 22px; margin-bottom: 30px;}
            .img_wrap {
                img {width: 70%; margin: 0 auto; display: block;}
            }
        }
    }
}

.law .img_area {background-image: url("../img/law_1.png");}
.sm .img_area {background-image: url("../img/sm_1.png"); background-position: top left!important;}
.exit .img_area {background-image: url("../img/exit_1.png");}
.born .img_area {background-image: url("../img/born_1.png");}
.carins .img_area {background-image: url("../img/carins_1.png");}
.atcodi .img_area {background-image: url("../img/atcodi_full.png");}
.gain .img_area {background-image: url("../img/gain_full.png");}
.moja .img_area {background-image: url("../img/moja_full.png");}

.port .img_area {background-image: url("../img/port_full.png");}
.incom .img_area {background-image: url("../img/incom_full.png");}
.medi .img_area {background-image: url("../img/medifine_full.png");}
.genesis .img_area {background-image: url("../img/genesis_full.png");}
.naver .img_area {background-image: url("../img/naver_full.png");}




@media (max-width: 768px) {
    .header {
        .title {font-size: 18px;}
    }
    .main {padding: 70px 0 20px;
        .sub_top {margin-bottom: 50px;
            .inner {flex-direction: column; gap: 10px;
                .img_area {width: 100%; height: 350px;}
                .text_area {width: 100%; padding: 0;
                    .text_box {padding: 15px 0;
                        .h2 {font-size: 16px; margin-bottom: 5px;}
                        .text {font-size: 14px;}
                    }
                }
            }
        }
        .sub_box {
            .text_block {
                .b_title {font-size: 18px;}
                .b_text {font-size: 14px;}
            }
        }
    }
    .footer {padding: 45px 15px;
        .copy {font-size: 12px;}
        .f_txt {font-size: 14px;}
    }
}



















