body {
  background: white;
  color: #191919;
}
body * {
  box-sizing: border-box;
}

.inner {
  width: 1200px;
  margin: 0 auto;
}

@media (max-width: 1230px) {
  .inner {
    width: 100%;
  }
}
body {
  position: relative;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px;
  width: 100%;
  z-index: 2;
}
.header .nav {
  width: 100%;
}
.header .nav .nav_li {
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
}

#home {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
#home .bg {
  width: 100%;
  height: 100%;
  background: url("../img/back1.png") no-repeat center center/cover;
  position: absolute;
  z-index: -1;
}

.container .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.container .inner .h_text {
  width: 100%;
  text-align: center;
  margin: 90px 0;
  letter-spacing: -1px;
}
.container .inner .h_text .h_line1 {
  margin-bottom: 10px;
  overflow: hidden;
  line-height: 0.9;
}
.container .inner .h_text .h_line1 .word {
  font-size: 96px;
  font-weight: bold;
  display: inline-block;
  opacity: 0;
}
.container .inner .h_text .h_line1 .word_1 {
  animation: show_ani 500ms 100ms forwards;
}
.container .inner .h_text .h_line1 .word_2 {
  animation: show_ani 500ms 200ms forwards;
}
.container .inner .h_text .h_line1 .word_3 {
  animation: show_ani 500ms 300ms forwards;
}
.container .inner .h_text .h_line1 .word_4 {
  animation: show_ani 500ms 400ms forwards;
}
.container .inner .h_text .h_line1 .word_5 {
  animation: show_ani 500ms 500ms forwards;
}
.container .inner .h_text .h_line1 .word_6 {
  animation: show_ani 500ms 600ms forwards;
}
.container .inner .h_text .h_line1 .word_7 {
  animation: show_ani 500ms 800ms forwards;
}
.container .inner .h_text .h_line1 .word_8 {
  animation: show_ani 500ms 900ms forwards;
}
.container .inner .h_text .h_line1 .word_9 {
  animation: show_ani 500ms 1000ms forwards;
}
.container .inner .h_text .h_line1 .word_10 {
  animation: show_ani 500ms 1100ms forwards;
}
.container .inner .h_text .h_line2, .container .inner .h_text .h_line3 {
  font-size: 90px;
  overflow: hidden;
  opacity: 0;
}
.container .inner .h_text .h_line2 {
  animation: show_ani 600ms 1500ms forwards;
}
.container .inner .h_text .h_line3 {
  animation: show_ani 600ms 2000ms forwards;
}
.container .inner .btn_area {
  text-align: center;
  margin-bottom: 35px;
}
.container .inner .btn_area .view_btn {
  width: 400px;
  height: 90px;
  font-size: 36px;
  color: #fff;
  font-weight: bold;
  border-radius: 50px;
  background: black;
  opacity: 0;
  animation: show_ani 1000ms 2700ms forwards;
}
.container .inner .ani_area img {
  display: none;
  width: 40px;
  opacity: 0;
  animation: arrow_ani 1000ms 4500ms infinite forwards;
}
.container .inner .ani_area img.on {
  display: block;
}

@keyframes show_ani {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes arrow_ani {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(20px);
  }
}
.container .tab_ul {
  width: 100%;
}
.container .tab_ul .tab_li {
  font-size: 20px;
  font-weight: bold;
}